/*System*/
@font-face {font-family: 'webfonts-gotham-medium'; src: url('fonts/gotham/Gotham-Medium.otf');}
@font-face {font-family: 'webfonts-gotham-book';src: url('fonts/gotham/Gotham-Book.otf');}
@font-face {font-family: 'webfonts-gotham-bold'; src: url('fonts/gotham/Gotham-Bold.otf');}
@font-face {font-family: 'webfonts-gotham-light';src: url('fonts/gotham/Gotham-Light.otf');}
html{height: 100%;}
body{text-align:center; margin:0; position:relative; min-height:100%; font-weight: normal;}
#logo{ margin: 100px 0}
#page-bg a{text-decoration:none !important}


#page-bg{background:url(../img/404_bg.jpg) center; background-repeat:no-repeat; background-size:cover; padding:10px; padding-bottom:30px; position:relative;  min-height: 100%; overflow:hidden}

/*Title*/
#title{ margin: 100px 0}
#title.contact-title{ margin-bottom:30px}
#title h2{ color:#FF5100; font-size:60px; font-family:"webfonts-gotham-bold";letter-spacing:-0.04em; margin:0; font-weight: normal; margin-bottom: 10px;}
#title h3{ font-family:"webfonts-gotham-book"; color:#FFF; font-size:20px;  letter-spacing:-0.04em; margin:0; font-weight: normal; margin-bottom: 5px;}
#title h3.below{ font-family:"webfonts-gotham-bold";}


/*Content*/
#content{position:relative; margin-bottom:50px}
#content h3, #content h3 a{font-family:"webfonts-gotham-medium"; color:#FF5100; font-size:20px;  letter-spacing:-0.04em; margin:0; margin-top:30px; text-decoration:none; font-weight: normal; margin-bottom: 5px;}
#content p, #content p a{ font-family:"webfonts-gotham-light"; font-size:14px; color:#FFF; letter-spacing:-0.04em; margin:0; margin-bottom:30px; line-height:15px; text-decoration:none; font-weight: normal;}
.sp:not(.active){display:none}
.sp{position: absolute; top:0; width:100%}
#button-previous{margin-top:250px}
.col{display:inline-block; margin:30px}

/*Contact form*/
#contact-form{ max-width:773px; margin: auto}
#contact-form textarea, #contact-form input:not(.captchaTxt){ box-sizing:border-box; width:100%}
#contact-form textarea{height:93px}
#contact-form .col-50{width:48.4%; box-sizing:border-box; margin:0 0.8%; float:left}
#contact-form .col-100{ margin:0 0.8%;}
#contact-form .col-wrap{clear:both; overflow:hidden; margin: 16px 0}
#contact-form .col-wrap.captcha-wrap{ margin-top:32px; margin-bottom:-10px}
.captcha{ color:#FFF; font-size:14px; font-family:'webfonts-gotham-light'}
.captcha span{font-family: 'webfonts-gotham-bold'}
.captchaTxt{ width:22px; height:22px; text-align:center; padding:0 !important}
input:required:valid.captchaTxt{ background-image: none;}

@media screen and (max-width: 480px) {
    #contact-form .col-50{width:100%; margin-bottom:10px;}
    #contact-form .col-wrap{margin:0}
    #contact-form textarea{width:101%}
    #contact-form .col-wrap.captcha-wrap{margin-bottom:0}
    .myButton{ width:101% !important; margin-top:8px !important; clear:both; overflow:hidden}
}



#footer{width:99%; position:absolute; bottom:15px; box-sizing:border-box}
#footer a{ display:inline-block; color: #FFF; margin:5px; font-family:"webfonts-gotham-light"; font-size:12px; line-height:1em; text-decoration: none}

div#tos-container {
    text-align: left;
    width: 1024px;
    padding: 25px;
    margin: 20% auto;
    border: 1px solid #cbcbcb;
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 4%, #ffffff 91%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(4%, #ffffff), color-stop(91%, #ffffff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 4%, #ffffff 91%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #ffffff 4%, #ffffff 91%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #ffffff 4%, #ffffff 91%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #ffffff 4%, #ffffff 91%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    color: #333;
}
.tos-logo {
    text-align: center;
}
div#tos-content > h3.privacy {
    font-family: 'webfonts-gotham-bold';
    color: #333;
    font-size: 24px;
    line-height: 55px;
}

div#tos-content p {
    color: #333;
    font-size: 14px;
    font-family: 'webfonts-gotham-book';
    line-height: 25px;
    margin-bottom: 0;
}
div#tos-content ul, div#tos-content ul li, div#tos-content ol {
    color: #333;
    font-size: 14px;
    font-family: 'webfonts-gotham-book';
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

div#tos-content h4 {
    color: #333;
    font-family: 'webfonts-gotham-bold';
    line-height: 14px;
    font-weight: normal;
}

div#tos-content a {
    color: #ff5100;
    text-decoration: none;
    font-size: 14px;
    font-family: 'webfonts-gotham-book';
    line-height: 1.428571429;
}

div#tos-content a:hover {
    color: #ff5100;
    text-decoration: underline;
    font-size: 14px;
    font-family: 'webfonts-gotham-book';
    line-height: 1.428571429;

}


